* {
    margin: 0;
}

body {
    background-color: #B39A7C;
}

header{
    text-align: center;
}

#img1 {
    height: 80px;
    width: 100;
}
h1{
    font-style: italic;
}
#img2 {
    padding-top: 5px;
    height: 500px;
    width: 100%;
}
.div1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.link {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.link:hover {
    background-color: #e4c7a5;
}

main {
    background-color: #e4c7a5;
}
hr {
    color: #ffffff;
}
.article {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;    
    margin: 5px auto; 
    max-width: 750px;
    text-align: left;
    justify-content: flex-start; 
    flex-wrap: wrap;
    
}

.content {
    flex: 1; 
}

.content h2 {
    color: #ff1900; 
    font-style: italic;
}

.article p{
     text-indent: 30px;
}

.plus{
    color: blue;
}

.article img {
    width: 80px; 
    height: 80px; 
    margin-right: 10px; 
}

#hr1{
     width: 750px;
     color: black;
}

footer {
    padding-top: 10px;
}
fieldset{
    max-width: 500px;
    margin: 10px auto; 
    max-height: 250px;
}

.article1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px auto; 
    max-width: 750px;
    text-align: left;
    justify-content: flex-start; 
    flex-wrap: wrap;
    
}

.underline {
    color: #ff1900; 
    font-style: italic;
    border-bottom: 3px dotted #ff1900; 
    display: inline-block; 
    font-weight: bold;
}

.article1 img {
    margin-left: 200px; 
}

.article1 p{
    text-indent: 30px;
}

#nom,#prenom,#date, select {
    border-radius: 8px;
    background-color: #ffffff; 
    width: 150px;
}


#main div {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    padding-bottom: 30px;
}

#img3 {
    
    width: 350px;           
    height: 350px;          
    border: 10px solid white; 
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 1); 
    object-fit: cover;      
}

.styled-paragraph {
    line-height: 1.5;
    text-align: justify;  
}

.styled-table {
    width: 100%;
    max-width: 480px; 
    border-collapse: collapse; 
    margin: 20px auto;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

.styled-table td {
    border: 3px solid #fff; 
    padding: 8px 12px;
   
}

.styled-table th {
    background-color: #B39A7C;
    
}




